{% extends 'base.html' %}
{% load form_tags widget_tweaks static i18n %}

{% block title %}{% trans 'Login to Your Account' %}{% endblock %}

{% block content %}

<section class="py-lg-5 bg-white">
    <div class="container my-4">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/login.svg' %}" class="img-fluid" alt="login">
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="card border-start-0 border-end-0 border-bottom-0 shadow">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4 mt-3">
                            <div class="flex-shrink-0">
                                <span class="fa-stack fa-2x text-primary">
                                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                                    <i class="fa-solid fa-right-to-bracket fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="ms-1">
                                <h6 class="m-0 text-primary">{% trans 'Login and get productive' %}</h6>
                                <small class="text-muted">{% trans 'Your personal data will be used to support your experience throughout this website.' %}</small>
                            </div>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}

                            {% include 'partials/_form_inputs.html' with form=form %}
                            
                            <small class="fw-bold"><a href="{% url 'password_reset' %}" class="text-decoration-none">{% trans 'Forgot Password?' %}</a></small>
                            <div class="my-3">
                                <button type="submit" class="btn btn-primary btn-lg rounded w-100">{% trans 'Login' %}</button>
                            </div>
                        </form>
                        <div class="text-center my-4">
                            <small><span class="text-muted">Don't have an account?</span> <a href="{% url 'signup_choice' %}">{% trans 'Signup now!' %}</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}