{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-9 mx-auto">
            <div class="card my-4 border-0 shadow mt-5">

                <div class="card-body">
                    {% if validlink %}
                    <h4 class="mb-4 text-center">{% trans "Reset your password" %}</h4>
                    <p class="text-center mb-3">{% trans "Enter your new password below to reset your password." %}</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="w-100 btn btn-primary" type="submit">{% trans 'Reset password' %}</button>
                    </form>
                    {% else %}
                    <h3>{% trans "Invalid Password Reset Link" %}</h3>
                    <p>{% trans "This password reset link is invalid, possibly because it has already been used or it was incorrectly copied." %}
                    </p>
                    <p>
                        {% trans "Please request for a new reset" %} <a href="{% url 'password_reset' %}"
                            class="text-info">{% trans "here" %}</a>.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}