{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container my-3">
        <div class="row">
            {% include 'partials/_company_account_menu.html' %}
            <div class="col-lg-8">
                <div class="mb-lg-5">
                    <a href="{% url 'company_account' %}" class="float-end btn btn-primary"><i class="fa-solid fa-cog me-1"></i> Back to Account</a>
                    <h5 class="text-primary">Change Account Password</h5>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            
                            <div class="col-lg-6 mb-3">
                                {% include 'partials/_form_inputs.html' with form=form %}
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}