{% extends "base.html" %}
{% load static i18n widget_tweaks form_tags %}

{% block title %}{% trans "Create a Job Seeker Account" %}{% endblock %}

{% block content %}

<section class="py-lg-5 bg-white">
    <div class="container my-5">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/fill_form.svg' %}" class="img-fluid" alt="signup">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="card border border-primary border-3 border-start-0 border-end-0 border-bottom-0 shadow">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4 mt-3">
                            <div class="flex-shrink-0">
                                <span class="fa-stack fa-2x text-primary">
                                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                                    <i class="fa-solid fa-user-check fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="ms-1">
                                <h6 class="m-0 text-primary">{% trans "Create A Job Seeker Account" %}</h6>
                                <small
                                    class="text-body-secondary">{% trans "Your new career is just another step away from blossoming after you signup." %}</small>
                            </div>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                <p {% if forloop.last %}class="mb-0" {% endif %}><i class="fa-solid fa-warning me-1"></i> {{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="row g-2">
                                {% for field in form %}
                                <div class="col-md-6">
                                    <div class="form-floating mb-1 border-1">
                                        {% render_field field class=field|input_class %}
                                        {{ field.label_tag }}
                                        {% for error in field.errors %}
                                        <div class="invalid-feedback fw-bold">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="my-3">
                                <button type="submit" class="btn btn-primary btn-lg rounded w-100">{% trans "Create Your Account" %}</button>
                            </div>
                        </form>
                        <hr class="border-1">
                        <div class="text-center text-body-secondary small">
                            <p>
                                {% trans "By signing up for an account, you agree to our Site's" %} <a href="">{% trans 'Terms of Service' %}</a> {% trans "and consent to our" %} <a href="">{% trans 'Cookie Policy' %}</a> {% trans "and" %} <a href="">{% trans 'Privacy Policy' %}</a>.
                            </p>
                            <p class="my-4">
                                {% trans "Already have an account?" %}</span> <a href="{% url 'auth:login' %}">{% trans "Login!" %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
