{% load static %}
<div class="card border-primary border-3 border-top-0 border-end-0 border-start-0 h-100 shadow">
    <img src="{% static 'img/blog.svg' %}" class="card-img-top rounded-top rounded-4" alt="...">
    <div class="position-absolute text-start top-0 start-0 w-100 p-2">
        <span class="badge p-2 text-bg-primary">
            <i class="fa-solid fa-circle me-1 small fw-bold"></i> Travel
        </span>
    </div>
    <div class="card-body">
        <h4 class="card-title">
            <a href="/post/" class="text-decoration-none">Dirty little secrets about the business industry</a>
        </h4>
        <p class="card-text text-dark">Place voice no arises along to. Parlors waiting so against me no. Wishing calling is warrant settled was lucky. Express besides it present if at an opinion visitor.</p>
    </div>
    <div class="card-footer pb-4 bg-transparent border-top-0">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <i class="fas fa-user-pen fa-2x me-2 text-primary"></i>
                <div class="small">
                    <div class="fw-bold text-primary">Kelly Rowan</div>
                    <small class="text-body-secondary">March 12, 2021</small>
                </div>
            </div>
        </div>
    </div>
</div>
