{% load static %}
<div class="col-lg-4">
    <div class="card border-start-0 border-end-0 border-bottom-0 shadow border-top-primary">
        <div class="p-4">
            <div class="text-center">
                <img src="{% if user.company.logo %}{{ user.company.logo.url }}{% else %}{% static 'img/avatar.svg' %}{% endif %}" width="150px" height="150px" alt="" class="rounded-circle">
                <h4 class="fw-bold my-2 text-primary">{{ user.company.contact_person }}</h4>
                <p class="text-muted mb-0">{{ user.company.position_in_company }}</p>
            </div>
        </div>

        <div class="p-4">
            <ul class="list-unstyled">
                
                {% url 'company_account' as company_account_url %}
                {% if request.get_full_path == company_account_url %}
                    <li class="mb-2 p-2 bg-primary rounded">
                        <span class="text-white text-decoration-none">
                            <i class="fa-solid fa-cog mx-1"></i> Manage Account
                        </span>
                    </li>
                {% else %} 
                    <li class="mb-2 p-2 position-relative">
                        <a class="text-decoration-none stretched-link" href="{% url 'company_account' %}">
                            <i class="fa-solid fa-cog mx-1"></i> Manage Account
                        </a>
                    </li>
                {% endif %}

                {% url 'company_jobs' as company_jobs_url %}
                {% if request.get_full_path == company_jobs_url %}
                <li class="mb-2 p-2 bg-primary rounded">
                    <span class="text-white text-decoration-none">
                        <i class="fa-solid fa-suitcase mx-1"></i> Manage Jobs
                    </span>
                </li>
                {% else %}
                <li class="mb-2 p-2 position-relative">
                    <a class="text-decoration-none stretched-link" href="{% url 'company_jobs' %}">
                        <i class="fa-solid fa-suitcase mx-1"></i> Manage Jobs
                    </a>
                </li>
                {% endif %}

                {% url 'company_candidates' as company_candidates_url %}
                {% if request.get_full_path == company_candidates_url %}
                <li class="mb-2 p-2 bg-primary rounded">
                    <span class="text-white text-decoration-none">
                        <i class="fa-solid fa-users mx-1"></i> Manage Candidates
                    </span>
                </li>
                {% else %}
                <li class="mb-2 p-2 position-relative">
                    <a class="text-decoration-none stretched-link" href="{% url 'company_candidates' %}">
                        <i class="fa-solid fa-users mx-1"></i> Manage Candidates
                    </a>
                </li>
                {% endif %}

                {% url 'password_change' as password_change_url %}
                {% if request.get_full_path == password_change_url %}
                <li class="mb-2 p-2 bg-primary rounded">
                    <span class="text-white text-decoration-none">
                        <i class="fa-solid fa-key mx-1"></i> Change Password
                    </span>
                </li>
                {% else %}
                <li class="mb-2 p-2 position-relative">
                    <a class="text-decoration-none stretched-link" href="{% url 'password_change' %}">
                        <i class="fa-solid fa-key mx-1"></i> Change Password
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>