{% load core_utils %}
<div class="card bg-white position-relative border border-primary border-3 border-start-0 border-end-0 border-top-0 shadow h-100">
    <div class="card-body p-5">
        <div class="d-flex position-absolute top-0 start-50 translate-middle">
            <div class="flex-shrink-0">
                <span class="fa-stack fa-3x text-primary">
                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                    <i class="fa-solid fa-location fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
        <h3 class="my-3 text-center text-primary">Visit Us</h3>
        <address class="fs-5">
            12 Sholabomi Crescent, <br>
            Off Oladimeji Street, <br>
            Aguda, Surulere, <br>
            Lagos, Nigeria.
        </address>
    </div>
</div>
