<div class="col-lg-8 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-middle">
                <div class="text-body-secondary flex-shrink-0 d-flex flex-column">
                    <i class="fa-regular fa-circle-question fa-2x text-primary"></i>
                </div>
                <div class="flex-grow ps-3">
                    <h5 class="mt-1"><a class="text-primary text-decoration-none" data-bs-toggle="collapse"
                            href="#faq-{{ question.pk }}" role="button" aria-expanded="false"
                            aria-controls="faq-{{ question.pk }}">
                            {{ question.question }}
                        </a></h5>
                    <div class="collapse" id="faq-{{ question.pk }}">
                        <p>{{ question.answer|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>