<div class="col-lg-8 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-middle">
                <div class="text-body-secondary flex-shrink-0 d-flex flex-column">
                    <i class="fa-regular fa-circle-question fa-2x text-primary"></i>
                </div>
                <div class="flex-grow ps-3">
                    <h5 class="mt-1"><a class="text-primary text-decoration-none" data-bs-toggle="collapse"
                            href="#faq-{{ forloop.counter }}" role="button" aria-expanded="false"
                            aria-controls="faq-{{ forloop.counter }}">
                            What stack is your website portfolio built with?
                        </a></h5>
                    <div class="collapse" id="faq-{{ forloop.counter }}">
                        <p>It was built with Bootstrap; icons from Fontawesome; illustration images from undraw and
                            animated with the AOS library. Netlify hosts this. View on github</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
