{% load i18n %}
<div class="card border-0 h-100 py-3 px-2 shadow">
    <div class="card-body">
        <span class="fa-stack fa-2x text-primary 1text-opacity-75 mb-3">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-regular fa-lightbulb fa-stack-1x fa-inverse"></i>
        </span>
        <h5 class="mb-4">{% trans 'Home Loans' %}</h5>
        <ul class="list-unstyled">
            <li class="mb-3"><i class="fa-solid fa-circle-check text-primary-emphasis fs-5 me-1"></i>
                {% trans 'Trusted and Quality Jobs' %}</li>
            <li><i class="fa-solid fa-circle-check text-primary-emphasis fs-5 me-1"></i>
                {% trans 'No Hidden Fees' %}</li>
        </ul>
    </div>
</div>
