<footer class="pt-5 mt-auto text-bg-primary">
    <div class="container">
        <div class="row g-1">
            <div class="col-12 col-lg-3 mb-3">
                <div class="me-lg-4">
                    <h3 class="mb-3"><i class="fa-solid fa-user-tie me-1"></i> Blue Jobs</h3>
                    <p>A recruitment management platform for Non-professional jobs.</p>
                    <p>&copy;{% now 'Y' %} &bull; All rights reserved.</p>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <h6 class="mb-3">Our Company</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"> <a href="{% url 'core:about' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">About
                            Us</a></li>
                    <li class="mb-2"> <a href="{% url 'core:policy' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Privacy
                            Policy</a></li>
                    <li class="mb-2"> <a href="#"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Our
                            Blog</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-lg-2">
                <h6 class="mb-3">Quick Links</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"> <a href="{% url 'jobs:list' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Jobs</a>
                    </li>
                    <li class="mb-2"> <a href="{% url 'core:companies' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Companies</a>
                    </li>
                    <li class="mb-2"> <a href="{% url 'core:resumes' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Candidates</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-lg-2">
                <h6 class="mb-3">Contact Support</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"> <a href="{% url 'help:index' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Help
                            Center</a></li>
                    <li class="mb-2"> <a href="{% url 'core:contact' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Send
                            Feedback</a></li>
                    <li class="mb-2"> <a href="{% url 'core:faq' %}"
                            class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white">Frequently
                            Asked Questions</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3">
                <h6 class="mb-3">Newsletter</h6>
                <p class="mb-3">Join our email subscription now to get updates on new jobs and notifications.</p>
                <form>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Email">
                        <button class="btn btn-dark" type="submit"> Subscribe </button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="my-lg-0 text-white">
        <section class="my-4 d-flex justify-content-between">
            <div>
                <a href="https://github.com/Pythonian" target="_blank" class="text-white-50"><i
                        class="fa-brands fa-github me-3 fs-5"></i></a>
                <a href="https://twitter.com/Ajibel" target="_blank" class="text-white-50"><i
                        class="fa-brands fa-twitter me-3 fs-5"></i></a>
                <a href="https://linkedin.com/in/Pythonian" target="_blank" class="text-white-50"><i
                        class="fa-brands fa-linkedin me-3 fs-5"></i></a>
            </div>
            <a href="#"
                class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover text-white-50">Back
                to top</a>
        </section>
    </div>
</footer>