<div class="card border-3 border-primary border-start-0 border-end-0 border-bottom-0 shadow h-100">
    <div class="card-body pb-4 pt-5 px-5 text-center">
        <div class="mb-3">
            <span class="fa-stack fa-2x text-primary">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-{{ category.icon }} fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <a href="{{ category.get_absolute_url }}"
            class="d-block stretched-link text-decoration-none mb-2">{{category.name }}</a>
        <p class="text-body-secondary">{{ category.description }}</p>
        <p
            class="small d-inline-flex px-3 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border-primary-subtle rounded-5">
            {{ category.get_article_count }} Article{{ category.get_article_count|pluralize }}</p>
    </div>
</div>