{% load static core_utils %}
<div class="card p-4 border border-primary border-3 border-start-0 border-end-0 border-bottom-0 shadow h-100">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="{% if resume.employee.image %}{{ resume.employee.image.url }}{% else %}{% static 'img/avatar.svg' %}{% endif %}" width="80px" height="80px" alt="" class="rounded">
        </div>
        <div class="ms-3">
            <h5 class="text-primary">{{ resume.employee.user.get_full_name }}</h5>
            <span class="text-body-secondary">{{ resume.professional_title }}</span>
        </div>
    </div>
    <div class="border border-1 rounded my-3">
        <div class="row g-0">
            <div class="col-6">
                <div class="border-end px-3 py-2">
                    <p class="text-body-secondary m-0"><i class="fa-solid fa-naira-sign me-1"></i> &#8358;20 <span class="text-success">/ Day</span></p>
                </div>
            </div>
            <div class="col-6">
                <div class="px-3 py-2">
                    <p class="text-body-secondary m-0"><i class="fa-solid fa-location-dot me-1"></i> {{ resume.city }}, {{ resume.country }}</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-body-secondary">{{ resume.professional_summary_or_objective|shorten_text }}</p>
    <a href="{{ resume.get_absolute_url }}" class="btn btn-primary w-100"><i class="fas fa-eye me-1"></i> View Resume</a>
</div>
