<div class="card bg-white position-relative border border-primary border-3 border-start-0 border-end-0 border-top-0 shadow">
    <div class="card-body p-5">
        <div class="d-flex gap-1 position-absolute top-0 start-50 translate-middle">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star-half text-primary"></i>
        </div>
        <p class="lead">I just got a job that I applied for via BlueJobs! I used the site all the time
            during my job hunt.</p>
        <span class="text-primary fw-bold">Chukwu Mercy Uzo</span>
        <span class="text-muted">(Ui/Ux Designer)</span>
    </div>
</div>
