<div class="card bg-white shadow-sm position-relative border border-primary border-opacity-10">
    <div class="card-body p-5">
        <div class="d-flex gap-1 1mb-2 position-absolute top-0 start-50 translate-middle">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star-half text-primary"></i>
        </div>
        <blockquote class="blockquote">I just got a job that I applied for via BlueJobs! I used the site all the time
            during my job hunt.</blockquote>
        <span class="text-primary fw-bold">Chukwu Mercy Uzo</span>
        <span class="text-muted">(Ui/Ux Designer)</span>
    </div>
</div>
