{% extends "base.html" %}
{% load i18n core_utils %}

{% block title %}{% trans 'Frequently Asked Questions' %}{% endblock %}

{% block content %}

<section class="text-bg-primary">
    <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-end">
            <div class="text-center">
                <h1 class="fw-bolder mt-5 mb-4">{% trans 'Frequently Asked Questions' %}</h1>
                <p class="mb-5 lead px-1">
                    {% trans 'We are here to help you better use BlueJobs. First, let us figure out if we have a solution in our documentation.' %}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container my-5">
        <div class="row g-3">
            {% include 'partials/_faq_grid.html' %}
            {% include 'partials/_faq_grid.html' %}
            {% include 'partials/_faq_grid.html' %}
        </div>
    </div>
</section>

{% endblock content %}