{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Help Center' %}{% endblock %}

{% block content %}
<section class="text-bg-primary">
    <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-end">
            <div class="text-center">
                <h1 class="fw-bolder mt-5 mb-4">{% trans 'Help Center' %}</h1>
                <p class="mb-5 lead px-1">
                    {% trans 'We are here to help you better use BlueJobs. First, let us figure out if we have a solution in our documentation.' %}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row g-5">
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                    {% include 'partials/_help_card.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
