{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Welcome Home' %}{% endblock %}

{% block content %}

<header class="text-bg-primary py-lg-5">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="my-5">
                    <h1 class="display-5 fw-bolder mb-2">{% trans 'Find the latest available' %}<br><u>Blue collar
                            jobs</u> {% trans 'in Nigeria.' %}</h1>
                    <p class="lead fw-normal mb-4">
                        {% trans 'Find jobs that match your interests with us. Over here, we provide a place for you to find non-professional jobs.' %}
                    </p>
                    <a href="{% if request.user.is_authenticated %}{% url 'jobs:list' %}{% else %}{% url 'auth:signup_choice' %}{% endif %}"
                        class="btn py-2 px-4 btn-outline-light shadow-sm rounded-5">
                        <i class="fa-solid fa-paper-plane me-1"></i> {% trans 'Get Started' %}
                    </a>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/resume.svg' %}" class="d-block img-fluid" alt="illustration">
            </div>
        </div>
    </div>
</header>

<section class="bg-white py-lg-5">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <span class="fa-stack fa-2x text-primary mb-3">
                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                    <i class="fa-regular fa-lightbulb fa-stack-1x fa-inverse"></i>
                </span>
                <h5 class="text-primary">{% trans 'How It Works' %}</h5>
                <h1 class="mb-5 display-3">{% trans 'Follow our Steps' %},<br> {% trans 'we will help you' %}!</h1>
                <ul class="list-unstyled">
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i>
                        {% trans 'Trusted and Quality Jobs' %}</li>
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i>
                        {% trans 'No Hidden Fees' %}</li>
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i>
                        {% trans 'Seamless User Experience' %}</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Register' %} <br>{% trans 'Your Account' %}</h5>
                                    <i class="fa-solid fa-1 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">
                                    {% trans 'Setup an account with us to find the jobs that best suit your preference.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Create' %} <br>{% trans 'Your Resume' %}</h5>
                                    <i class="fa-solid fa-2 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">
                                    {% trans 'Create your first resume which you can customise as much as you wish.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Search' %} <br>{% trans 'Available Jobs' %}</h5>
                                    <i class="fa-solid fa-3 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">
                                    {% trans 'Use our advanced search filter to narrow down on jobs specific to you.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Submit' %} <br>{% trans 'An Application' %}</h5>
                                    <i class="fa-solid fa-4 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">
                                    {% trans 'Send your resume to the hiring company with a click of the button.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="text-center mb-lg-5">
                <h5 class="text-primary mb-3">{% trans 'Latest Jobs' %}</h5>
                <h2>{% trans 'Find Your Career Because You Deserve It' %}</h2>
            </div>
            {% for job in jobs %}
            <div class="col-lg-6">{% include 'partials/_job_grid.html' %}</div>
            {% empty %}
            <div class="text-center pt-5">
                <div class="d-block">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptyjobs">
                </div>
                <p class="d-flex justify-content-center mt-5 text-body-secondary">No Job Opening Created Yet.</p>
            </div>
            {% endfor %}
        </div>
        {% if jobs_count > 4 %}
        <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'jobs:list' %}" class="btn btn-primary">{% trans 'View All' %}</a>
        </div>
        {% endif %}
    </div>
</section>

<section class="bg-primary py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-briefcase fa-3x mb-3"></i>
                <h1>{{ jobs_count }}</h1>
                <p class="opacity-75">{% trans 'All Jobs' %}</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-building fa-3x mb-3"></i>
                <h1>{{ companies_count }}</h1>
                <p class="opacity-75">{% trans 'Companies' %}</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-file-lines fa-3x mb-3"></i>
                <h1>{{ resumes_count }}</h1>
                <p class="opacity-75">{% trans 'Professionals' %}</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-earth-africa fa-3x mb-3"></i>
                <h1>{{ states_count }}</h1>
                <p class="opacity-75">{% trans 'Locations' %}</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="mb-lg-2">
                <h5 class="text-primary mb-3">{% trans 'Resumes' %}</h5>
                <h2 class="text-primary-emphasis">{% trans 'Featured Resumes' %}</h2>
            </div>
            {% for resume in resumes %}
            <div class="col-lg-4 col-md-6">{% include 'partials/_resume_grid.html' %}</div>
            {% if forloop.last %}
            <div class="col-lg-4 col-md-6">
                <div class="card p-4 border-0 shadow h-100">
                    <div class="card-body p-4">
                        <p class="h2 my-5 text-primary-emphasis">Browse The Best Resumes Available Here</p>
                        <a href="{% url 'core:resumes' %}" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="text-center pt-5">
                <div class="d-block">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptyresume">
                </div>
                <p class="d-flex justify-content-center mt-5 text-body-secondary">No Resumes Data Created Yet.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-white py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="text-center mb-lg-5">
                <h5 class="text-primary mb-3">{% trans 'Hiring Companies' %}</h5>
                <h2>{% trans 'Browse Companies with Available Jobs' %}</h2>
            </div>
            {% for company in companies %}
            <div class="col-lg-4 col-md-6">{% include 'partials/_company_grid.html' %}</div>
            {% empty %}
            <div class="text-center pt-5">
                <div class="d-block">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptycompanies">
                </div>
                <p class="d-flex justify-content-center mt-5 text-body-secondary">No Hiring Company Available Yet.</p>
            </div>
            {% endfor %}
        </div>
        {% if companies_count > 6 %}
        <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'core:companies' %}" class="btn btn-primary">{% trans 'View More' %}</a>
        </div>
        {% endif %}
    </div>
</section>

<section class="bg-light py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="text-center mb-lg-5">
                <h5 class="text-primary mb-3">{% trans 'Clients Testimonials' %}</h5>
                <h2>{% trans 'What Our Customers Say About Us' %}</h2>
            </div>
            {% for testimonial in testimonials %}
            <div class="col-lg-4 col-md-6">
                {% include 'partials/_testimonial_grid.html' %}
            </div>
            {% empty %}
            <div class="text-center pt-5">
                <div class="d-block">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptycompanies">
                </div>
                <p class="d-flex justify-content-center mt-5 text-body-secondary">No Testimonials Yet.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if not request.user.is_authenticated %}
<section class="bg-primary py-lg-5">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="d-flex justify-content-center align-items-center text-white">
                    <div class="d-none d-lg-block">
                        <img class="img-fluid w-75" src="{% static 'img/interview.svg' %}" alt="interview">
                    </div>
                    <div>
                        <h1 class="mb-3">{% trans 'Are you ready to Onboard?' %}</h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eos explicabo
                            iste ipsam vero!
                            Aspernatur.</p>
                        <a href="{% url 'auth:signup_choice' %}"
                            class="btn py-2 px-4 btn-outline-light shadow-sm rounded-5">
                            <i class="fa-solid fa-paper-plane me-1"></i> {% trans 'Register Today' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="bg-white py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="text-center mb-lg-5">
                <h5 class="text-primary mb-3">{% trans 'Our Blog' %}</h5>
                <h2>{% trans 'Latest Updates from Us' %}</h2>
            </div>
            <div class="col-sm-6 col-md-4">{% include 'partials/_blog_card_grid.html' %}</div>
            <div class="col-sm-6 col-md-4">{% include 'partials/_blog_card_grid.html' %}</div>
            <div class="col-sm-6 col-md-4">{% include 'partials/_blog_card_grid.html' %}</div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a href="" class="btn btn-outline-primary">{% trans 'View More' %}</a>
        </div>
    </div>
</section>

{% endblock %}