{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Welcome Home' %}{% endblock %}

{% block content %}

<header class="bg-primary py-lg-5">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">{% trans 'Find the latest available' %}<br><u>Blue collar jobs</u> {% trans 'in Nigeria.' %}</h1>
                    <p class="lead fw-normal text-white mb-4">{% trans 'Find jobs that match your interests with us. Over here, we provide a place for you to find non-professional jobs.' %}</p>
                    <a class="btn btn-outline-light btn-lg px-4" href="{% if request.user.is_authenticated %}{% url 'jobs:list' %}{% else %}{% url 'auth:signup_choice' %}{% endif %}"><i class="fa-solid fa-paper-plane me-2"></i> {% trans 'Get Started' %}</a>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/resume.svg' %}" class="d-block img-fluid" alt="illustration">
            </div>
        </div>
    </div>
</header>

<section class="bg-white py-lg-5">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h5 class="text-primary">{% trans 'How it Works' %}</h5>
                <h1 class="mb-5 display-3 fw-bold">{% trans 'Follow our Steps' %},<br> {% trans 'we will help you' %}!</h1>
                <ul class="list-unstyled">
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i> {% trans 'Trusted and Quality Jobs' %}</li>
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i> {% trans 'No Hidden Fees' %}</li>
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i> {% trans 'Seamless User Experience' %}</li>
                    <li class="mb-3"><i class="fa-solid fa-circle-check text-primary fs-5 me-2"></i> {% trans 'Top Nigerian Companies' %}</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Register' %} <br>{% trans 'Your Account' %}</h5>
                                    <i class="fa-solid fa-1 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">{% trans 'Setup an account with us to find the jobs that best suit your preference.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Create' %} <br>{% trans 'Your Resume' %}</h5>
                                    <i class="fa-solid fa-2 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">{% trans 'Create your first resume which you can customise as much as you wish.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Search' %} <br>{% trans 'Available Jobs' %}</h5>
                                    <i class="fa-solid fa-3 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">{% trans 'Use our advanced search filter to narrow down on jobs specific to you.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-primary text-light">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mt-5">{% trans 'Submit' %} <br>{% trans 'An Application' %}</h5>
                                    <i class="fa-solid fa-4 fa-3x text-white"></i>
                                </div>
                                <p class="card-text mb-3">{% trans 'Send your resume to the hiring company with a click of the button.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="text-center mb-lg-5">
                <h5 class="text-primary mb-3">{% trans 'Latest Jobs' %}</h5>
                <h2>{% trans 'Find Your Career Because You Deserve It' %}</h2>
            </div>
            {% for job in jobs %}
            <div class="col-lg-6">{% include 'partials/_job_grid.html' %}</div>
            {% empty %}
                <div class="text-center pt-5">
                    <div class="d-block">
                        <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptyjobs">
                    </div>
                    <p class="d-flex justify-content-center mt-5 text-muted">No Job Opening Created Yet.</p>
                </div>
            {% endfor %}
        </div>
        {% if jobs_count > 4 %}
        <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'jobs:list' %}" class="btn btn-primary">{% trans 'View All' %}</a>
        </div>
        {% endif %}
    </div>
</section>

<section class="bg-primary py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-building fa-3x mb-3"></i>
                <h1>{{ companies_count }}</h1>
                <p class="opacity-75">{% trans 'Hiring Companies' %}</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-briefcase fa-3x mb-3"></i>
                <h1>{{ jobs_count }}</h1>
                <p class="opacity-75">{% trans 'Available Jobs' %}</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-file-lines fa-3x mb-3"></i>
                <h1>{{ resumes_count }}</h1>
                <p class="opacity-75">{% trans 'Candidate Resumes' %}</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-white">
                <i class="fa-solid fa-earth-africa fa-3x mb-3"></i>
                <h1>{{ states_count }}</h1>
                <p class="opacity-75">{% trans 'Active Locations' %}</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="mb-lg-2">
                {% if resumes_count > 4 %}
                    <a href="{% url 'resumes' %}" class="float-end btn btn-primary">{% trans 'All Resumes' %}</a>
                {% endif %}
                <h5 class="text-primary mb-3">{% trans 'Resumes' %}</h5>
                <h2>{% trans 'Featured Resumes' %}</h2>
            </div>
            {% for resume in resumes %}
                <div class="col-lg-4 col-md-6">{% include 'partials/_resume_grid.html' %}</div>
            {% empty %}
                <div class="text-center pt-5">
                    <div class="d-block">
                        <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptyresume">
                    </div>
                    <p class="d-flex justify-content-center mt-5 text-muted">No Resumes Data Created Yet.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-white py-lg-5">
    <div class="container my-5">
        <div class="row g-4">
            <div class="text-center mb-lg-5">
                <h5 class="text-primary mb-3">{% trans 'Hiring Companies' %}</h5>
                <h2>{% trans 'Browse Companies with Available Jobs' %}</h2>
            </div>
            {% for company in companies %}
            <div class="col-lg-4 col-md-6">{% include 'partials/_company_grid.html' %}</div>
            {% empty %}
                <div class="text-center pt-5">
                    <div class="d-block">
                        <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptycompanies">
                    </div>
                    <p class="d-flex justify-content-center mt-5 text-muted">No Company Data Registered Yet.</p>
                </div>
            {% endfor %}
        </div>
        {% if companies_count > 6 %}
        <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'companies' %}" class="btn btn-primary">{% trans 'View More' %}</a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
