{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Privacy Policy' %}{% endblock %}

{% block content %}


<section class="bg-white">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="d-flex align-items-center mb-5">
                    <div class="flex-shrink-0">
                        <span class="fa-stack fa-2x text-primary">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-building-shield fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="ms-3">
                        <h4 class="text-primary">{% trans 'Privacy Policy' %}</h4>
                        <h6 class="fw-normal">Updated 3/15/2019</h6>
                    </div>
                </div>

                <hr class="my-5">

                <p>
                    At Blue Jobs, we are committed to protecting the privacy and security of our users' personal information. This Privacy
                    Policy outlines the types of personal information we collect, how we use it, and the measures we take to protect it.
                </p>
                <p>
                    Our mission at Blue Jobs is to revolutionize the way non-professional jobs are recruited and managed. We believe that
                    everyone deserves equal access to job opportunities, regardless of their level of experience or education. That's why we
                    have created a platform that is accessible to both employers and job seekers, and that provides a hassle-free way to
                    fill and find non-professional jobs.
                </p>
                <p>
                    We understand that traditional recruitment methods can be time-consuming and expensive for employers. This is why our
                    platform streamlines the recruitment process, saving employers time and money while providing them with the right
                    candidates for their non-professional job vacancies. Job seekers, on the other hand, can easily search and apply for
                    non-professional jobs that match their skills and preferences.
                </p>
                <p>
                    Our platform is user-friendly and intuitive, making it easy for both employers and job seekers to use. Employers can
                    easily post job listings, view and manage applications, and communicate with potential candidates, all from a single
                    dashboard. Job seekers can create a profile, search and apply for jobs, and receive notifications about the status of
                    their applications.
                </p>
                <p>
                    One of the key features of Blue Jobs is our advanced matching algorithm, which uses artificial intelligence and machine
                    learning to match the right candidates with the right jobs. Our algorithm considers factors such as skills, experience,
                    and job preferences, to provide employers with the most qualified candidates for their job vacancies.
                </p>
                <p>
                    At Blue Jobs, we take security and privacy seriously. We use the latest encryption and security technologies to ensure
                    that all personal and sensitive information shared on our platform is kept confidential and secure. Our platform is also
                    fully compliant with data protection regulations, giving both employers and job seekers peace of mind.
                </p>
                <p>
                    In conclusion, Blue Jobs is more than just a recruitment platform for non-professional jobs. It is a tool that helps to
                    bridge the gap between employers and job seekers, making the process of finding and filling non-professional jobs
                    faster, easier, and more efficient. Whether you are an employer looking for the right candidates for your
                    non-professional job vacancies, or a job seeker looking for opportunities, Blue Jobs is here to help.
                </p>
                <p>
                    Join us today and take the first step towards finding your next non-professional job or filling your next job vacancy.
                    We are confident that you will find our platform to be the best recruitment solution for non-professional jobs.

                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
