{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Browse resumes' %}{% endblock %}

{% block content %}

<section class="bg-primary">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-end">
            <img class="img-fluid w-25 d-none d-lg-block" src="{% static 'img/resume-left.svg' %}" alt="resume-left">
            <div class="text-white text-center">
                <h1 class="fw-bolder mt-5 mb-4">{{ resumes.paginator.count }} {% trans 'Resumes Available Now' %}</h1>
                <p class="mb-5 lead px-1">
                    {% if resumes %}
                    {% trans 'We have curated below professional resumes from some of the top talents on our platform. Use the advanced search filter to narrow down resume searches.' %}
                    {% endif %}
                </p>
            </div>
            <img class="img-fluid w-25 d-none d-lg-block" src="{% static 'img/personal_info.svg' %}" alt="resume-right">
        </div>
    </div>
</section>

<section class="py-3 bg-light">
    <div class="container my-5">
        <div class="row">
            {% if resumes %}
            <aside class="col-lg-4 d-none d-lg-block">
                <div class="card p-4 border-start-0 border-end-0 border-bottom-0 shadow border-top-primary">
                    <form action="" method="get">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-search me-1"></i> Keyword</label>
                            <input type="text" name="query" class="form-control" placeholder="Job Title or Keyword" id="id_query">
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-list me-1"></i> Category</label>
                            <select class="form-select">
                                <option selected>---Choose a category---</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-location-dot me-1"></i>
                                Location</label>
                            <select class="form-select">
                                <option selected>---Select a State---</option>
                                <option value="1">Adamawa</option>
                                <option value="2">Enugu</option>
                                <option value="3">Lagos</option>
                            </select>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-venus-mars me-1"></i> Gender</label>
                            <select class="form-select">
                                <option selected>--Select a gender---</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-briefcase me-1"></i> Job
                                Type</label>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Internship</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">23</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Full-time</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">15</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Part time</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">09</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Freelance</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">09</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Volunteer</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">09</span>
                            </div>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-clock-rotate-left me-1"></i> Job
                                Posted</label>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">All</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">213</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Last 24 hours</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">115</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Last 7 days</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">115</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Last 30 days</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">19</span>
                            </div>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-filter-circle-dollar me-1"></i>
                                Salary Mode</label>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Hourly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">23</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Daily</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">15</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Weekly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">12</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Monthly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">19</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Yearly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">9</span>
                            </div>
                        </div>

                        <hr class="text-muted">

                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-filter me-1"></i> Advanced Filter</button>
                    </form>
                </div>
            </aside>
            <div class="col-lg-8">
                <div class="d-flex justify-content-between mb-3 border-bottom">
                    <div>
                        <p class="text-muted">Showing <span class="fw-bold">{{ resumes.start_index }}-{{ resumes.end_index }}</span> of <span class="fw-bold">{{ resumes.paginator.count }}</span> resume{{ resumes.paginator.count|pluralize }}</p>
                    </div>
                </div>
                <div class="row g-4">
                    {% for resume in resumes %}
                    <div class="col-lg-6 {% if forloop.last %}mb-5{% endif %}">{% include 'partials/_resume_grid.html' %}</div>
                    {% endfor %}
                </div>
                {% include 'partials/_pagination.html' with page_obj=resumes %}
            </div>
            {% else %}
            <div class="text-center pt-5">
                <div class="d-block">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-50" alt="emptyresume">
                </div>
                <p class="d-flex justify-content-center mt-5 text-muted">No Resumes Data Created Yet.</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
