.border-top-primary {
    border-top: 2px solid #0d6efd;
}

.border-left-primary {
    border-left: 2px solid #0d6efd;
}

footer li a {
    color: white;
}

footer li a:hover {
    color: rgba(255, 255, 255, 0.6);
}