{% extends "base.html" %}
{% load static %}

{% block title %}Manage Candidates{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container my-3">
        <div class="row">
            {% include 'partials/_company_account_menu.html' %}
            <div class="col-lg-8">
                <div class="mb-lg-5">
                    <a href="{% url 'resumes' %}" class="float-end btn btn-primary"><i class="fa-solid fa-search me-1"></i> Find Candidates</a>
                    <h6 class="text-primary">Manage Candidates</h6>
                    <h4>Manage Resumes of Job Applicants</h4>
                </div>
                
                {% for candidate in candidates %}
                <div class="col-lg-6">
                    <div class="card p-4 border-light shadow">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="{% if candidate.applicant.image %}{{ candidate.applicant.image.url }}{% else %}{% static 'img/avatar.svg' %}{% endif %}" width="80px" height="80px" alt="" class="rounded">
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">{{ candidate.applicant.user.get_full_name }}</h5>
                                <span class="text-muted small">Applied for <strong>{{ candidate.job.title }}</strong> on: {{ candidate.created|date:"F j Y" }}</span>
                            </div>
                        </div>
                        <div class="border px-2 py-1 mb-2">
                            <p class="text-muted">Application Note:</p>
                            <p class="fw-bold">{{ candidate.note }}</p>
                        </div>
                        <a href="#" class="btn btn-primary w-100"><i class="fas fa-eye me-1"></i> View Resume</a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}