{% extends "base.html" %}
{% load static %}

{% block title %}Page Not Found{% endblock title %}

{% block content %}

<section class="py-5 bg-white">
    <div class="container my-4">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/404.svg' %}" class="img-fluid" alt="login">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="text-center">
                    <h1 class="text-dark mt-4 fw-bold display-1"><i class="fa-solid fa-4"></i><i class="fa-solid fa-0 px-1"></i><i class="fa-solid fa-4"></i></h1>
                    <h5 class="text-primary mb-3">We are Sorry, Page Not Found.</h5>
                    <p class="mb-5">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
                    <a href="{% url 'core:home' %}" class="btn btn-primary fw-bold px-4 py-3">Go To Home</a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}
