<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Blue Jobs</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body class="d-flex flex-column min-vh-100">
    {% if request.user.is_authenticated and not user.email_verified %}
    <div class="m-0 rounded-0 alert alert-warning" role="alert">
        <div class="container">
            <i class="fa-solid fa-warning me-1"></i> We sent an email confirmation link to
            <strong>{{ user.email }}</strong>. Please check your email address.
        </div>
    </div>
    {% endif %}
    {% if next %}
    <div class="m-0 rounded-0 alert alert-warning" role="alert">
        <div class="container">
            <i class="fa-solid fa-warning me-1"></i> {% if request.user.is_authenticated %}Your account doesn't have
            access to the page. To proceed, please login with an
            account that has access. {% else %} Please login with your correct credentials to access the
            page.{% endif %}

        </div>
    </div>
    {% endif %}
    <header class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm py-lg-3">
        <div class="container">
            <a href="{% url 'core:home' %}" class="navbar-brand">
                <i class="fa-solid fa-user-tie me-1"></i>
                <strong>Blue Jobs</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-lg-auto ms-lg-auto mb-3 mb-lg-0">
                    <li class="nav-item me-lg-2">
                        <a class="nav-link {% url 'jobs:list' as jobs_url %}{% if request.get_full_path == jobs_url %}active{% endif %}"
                            href="{% url 'jobs:list' %}"><i class="me-1 fa-solid fa-briefcase"></i> Jobs</a>
                    </li>
                    <li class="nav-item me-lg-2">
                        <a class="nav-link {% url 'core:companies' as companies_url %}{% if request.get_full_path == companies_url %}active{% endif %}"
                            href="{% url 'core:companies' %}"><i class="me-1 fa-solid fa-building"></i> Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% url 'core:resumes' as resumes_url %}{% if request.get_full_path == resumes_url %}active{% endif %}"
                            href="{% url 'core:resumes' %}"><i class="me-1 fa-solid fa-user-tie"></i> Candidates</a>
                    </li>
                </ul>
                <div class="d-flex mb-3 mb-lg-0">
                    {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.is_company %} {{ user.company.contact_person }}
                            {% else %}{{ request.user.get_full_name }}{% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if user.is_company %}
                            <li class="mb-2"><a class="text-primary dropdown-item"
                                    href="{% url 'employers:account' %}"><i class="fa-solid fa-user me-1"></i> My
                                    Account</a></li>
                            <li class="mb-2"><a class="text-primary dropdown-item" href="{% url 'employers:jobs' %}"><i
                                        class="fa-solid fa-briefcase me-1"></i> Manage Jobs</a></li>
                            <li class="mb-2"><a class="text-primary dropdown-item"
                                    href="{% url 'employers:candidates' %}"><i class="fa-solid fa-users me-1"></i>
                                    Manage Candidates</a>
                                {% else %}
                            <li class="mb-2">
                                <a class="text-primary dropdown-item" href="{% url 'employees:dashboard' %}">
                                    <i class="fa-solid fa-gauge me-1"></i> My Dashboard
                                </a>
                            </li>
                            <li class="mb-2">
                                <a class="text-primary dropdown-item" href="{% url 'employees:resume' %}">
                                    <i class="fa-solid fa-file-lines me-1"></i> My Resume
                                </a>
                            </li>
                            <li class="mb-2">
                                <a class="text-primary dropdown-item" href="{% url 'employees:jobs' %}">
                                    <i class="fa-solid fa-briefcase me-1"></i> My Applied Jobs
                                </a>
                            </li>
                            <li class="mb-2">
                                <a class="text-primary dropdown-item" href="{% url 'employees:messages' %}">
                                    <i class="fa-solid fa-inbox me-1"></i> My Messages
                                </a>
                            </li>
                            <li class="mb-2">
                                <a class="text-primary dropdown-item" href="{% url 'employees:bookmarks' %}">
                                    <i class="fa-solid fa-bookmark me-1"></i> My Bookmarks
                                </a>
                            </li>
                            <li class="mb-2">
                                <a class="text-primary dropdown-item" href="{% url 'employees:account' %}">
                                    <i class="fa-solid fa-cog me-1"></i> My Settings
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" data-bs-toggle="modal"
                                    data-bs-target="#logoutModal">
                                    <i class="fa-solid fa-power-off me-1"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <a href="{% url 'auth:login' %}"
                        class="btn {% url 'auth:login' as login_url %}{% if request.get_full_path == login_url %}btn-light{% else %}btn-outline-light{% endif %} me-2"><i
                            class="fa-solid fa-right-to-bracket me-1"></i> Login</a>
                    <a href="{% url 'auth:signup_choice' %}" class="btn btn-primary"><i
                            class="fa-solid fa-user-plus me-1"></i> Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% include 'partials/_alerts.html' %}

    {% block content %} {% endblock content %}

    {% include 'partials/_footer.html' %}
    {% include 'modals/logout.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

    {% block scripts %}{% endblock scripts %}

</body>

</html>