{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Recruitment Management</title>
    <!-- Styles -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="{% static 'css/thejobs.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

</head>

<body class="nav-on-header smart-nav">

    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">
            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
                <div class="logo-wrapper">
                    <button class="btn btn-sm btn-success">The JOBS</button>
                </div>
            </div>
            <!-- END Logo -->
            <!-- User account -->
            <div class="pull-right user-login">
                <a class="btn btn-sm btn-primary" href="">Login</a> or <a href="">register</a>
            </div>
            <!-- END User account -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>
                    <a class="{% url 'home' as home_url %} {% if request.get_full_path == home_url %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a class="{% url 'job_list' as job_list_url %} {% if request.get_full_path == job_list_url %}active{% endif %}" href="{% url 'job_list' %}">Jobs</a>
                </li>
                <li>
                    <a class="{% url 'companies' as companies_url %} {% if request.get_full_path == companies_url %}active{% endif %}" href="{% url 'companies' %}">Companies</a>
                </li>
                <li>
                    <a href="#">Job Seekers</a>
                </li>
            </ul>
            <!-- END Navigation menu -->
        </div>
    </nav>
    <!-- END Navigation bar -->

    {% block content %}{% endblock %}

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; <a href="{% url 'home' %}">Recruitment Mgt</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END Site footer -->

    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->

    <!-- Scripts -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/thejobs.js' %}"></script>

</body>
</html>
