{% extends "base.html" %}
{% load static %}

{% block title %}Manage Jobs{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container my-3">
        <div class="row">
            {% include 'partials/_company_account_menu.html' %}
            <div class="col-lg-8">
                <div class="mb-lg-5">
                    <a href="{# 'resumes' %}" class="float-end btn btn-primary"><i class="fa-solid fa-briefcase me-1"></i> Post new Job</a>
                    <h6 class="text-primary">Manage Jobs</h6>
                    <h4>Update or Delete Job Openings</h4>
                </div>
                <div class="row g-4">
                {% for job in jobs %}
                <div class="col-12">{% include 'partials/_job_grid.html' %}</div>
                {% empty %}
                <div class="d-flex justify-content-center mt-5">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="emptyjobs">
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}