{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container my-3">
        <div class="row">
            {% include 'partials/_company_account_menu.html' %}
            <div class="col-lg-8">
                <div class="mb-4 d-flex justify-content-between align-items-end">
                    <h4>Manage Account</h4>
                    <a href="{# 'resumes' %}" class="btn btn-primary"><i class="fa-solid fa-eye me-1"></i> Preview</a>
                </div>
                <div class="card p-4 mb-5">
                    <div class="">
                        <form action="">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="firstname" class="form-control" id="id_firstname"
                                            required value="Emmanuella">
                                        <label for="id_firstname">Firstname</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="username" class="form-control" id="id_username"
                                            required value="Abubakar">
                                        <label for="id_username">Lastname</label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}