{% extends "base.html" %}

{% block title %}Hiring Companies{% endblock %} 

{% block content %} 

<!-- Page header -->
    <header class="page-header bg-img">
      <div class="container page-name">
        <h1 class="text-center">Browse companies</h1>
        <p class="lead text-center">Find below recruiting companies who currently have job openings that may match your interest.</p>
      </div>

    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row">

            {% for company in companies %}
            <!-- Company detail -->
            <div class="col-xs-12">
              <a class="item-block" href="{% url 'company_detail' company.id %}">
                <header>
                  <img src="https://via.placeholder.com/150x150" alt="">
                  <div class="hgroup">
                    <h4>{{ company.name }}</h4>
                    <h5>{{ company.category }}</h5>
                  </div>
                  <span class="open-position">{{ company.jobs.count }} open position</span>
                </header>

                <div class="item-body">
                  <p>{{ company.about }}</p>
                </div>
              </a>
            </div>
            <!-- END Company detail -->
            {% endfor %}

          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->

{% endblock %}