{% extends "base.html" %} 
{% load static %}

{% block title %}Home{% endblock %} 

{% block content %} 

    <!-- Site header -->
    <header class="site-header size-md text-center">
      <div class="container">
        <div class="col-xs-12">
          <br><br>
          <h2>There are <mark>{{ jobs.count }}</mark> job vacancies right now!</h2>
          <h5 class="font-alt">Find your desired one in a minute</h5>
          <br><br><br>
          <form class="header-job-search">
            <div class="input-keyword">
              <input type="text" class="form-control" placeholder="Job title, skills, or company">
            </div>

            <div class="input-location">
              <input type="text" class="form-control" placeholder="City, state or zip">
            </div>

            <div class="btn-search">
              <button class="btn btn-primary" type="submit">Find jobs</button>
              <a href="job-list.html">Advanced Job Search</a>
            </div>
          </form>
        </div>

      </div>
    </header>
    <!-- END Site header -->


    <!-- Main container -->
    <main>

      <!-- Recent jobs -->
      <section>
        <div class="container">
          <header class="section-header">
            <span>Latest</span>
            <h2>Recent jobs</h2>
          </header>

          <div class="row item-blocks-connected">

            {% for job in jobs %}
            <div class="col-xs-12">
              <a class="item-block" href="{% url 'job_detail' job.id %}">
                <header>
                  <img src="" alt="">
                  <div class="hgroup">
                    <h4>{{ job.title }}</h4>
                    <h5>{{ job.company.name }}</h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">{{ job.state }}</span>
                    <span class="label label-success">{{ job.get_job_type_display }}</span>
                  </div>
                </header>
              </a>
            </div>
            {% endfor %}

          </div>

          <br><br>
          <p class="text-center"><a class="btn btn-info" href="{% url 'job_list' %}">Browse all jobs</a></p>
        </div>
      </section>
      <!-- END Recent jobs -->

      <!-- Categories -->
      <section class="bg-alt">
        <div class="container">
          <header class="section-header">
            <h2>Job categories</h2>
            <p>Find job by work categories</p>
          </header>

          <div class="category-grid">
            {% for category in categories %}
            <a href="{% url 'category_detail' category.slug %}">
              <i class="fa fa-briefcase"></i>
              <h6>{{ category.name }}</h6>
              <p>{{ category.description }}</p>
            </a> 
            {% endfor %}
          </div>

        </div>
      </section>
      <!-- END Categories -->

      <!-- Companies -->
      <section>
        <div class="container">
          <header class="section-header">
            <span>Hiring</span>
            <h2>Companies</h2>
          </header>

          <div class="row">

            {% for company in companies %}
            <!-- Company detail -->
            <div class="col-xs-12">
              <a class="item-block" href="{% url 'company_detail' company.id %}">
                <header>
                  <img src="https://via.placeholder.com/150x150" alt="">
                  <div class="hgroup">
                    <h4>{{ company.name }}</h4>
                    <h5>{{ company.category }}</h5>
                  </div>
                  <span class="open-position">{{ company.jobs.count }} open position</span>
                </header>

                <div class="item-body">
                  <p>{{ company.about }}</p>
                </div>
              </a>
            </div>
            <!-- END Company detail -->
            {% endfor %}

          </div>

          <br><br>
          <p class="text-center"><a class="btn btn-info" href="{% url 'companies' %}">Browse all companies</a></p>
        </div>
      </section>
      <!-- END Companies -->

    </main>
    <!-- END Main container -->

{% endblock %}
