{% extends "base.html" %} 
{% load static %}

{% block title %}Home{% endblock %} 

{% block content %} 

    <!-- ===== Start of Main Search Section ===== -->
    <section class="main3 ptb120 overlay-gradient">

        <!-- Start of Wrapper -->
        <div class="container wrapper">


            <div class="col-md-6 col-xs-12 mb60 text-center">
                <div class="section-title">
                    <h2 class="text-white">your career start now!</h2>
                </div>

                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s..</p>
                <a href="register.html" class="btn btn-purple btn-effect mt80">signup now!</a>

            </div>


            <div class="col-md-4 col-md-offset-2 col-xs-12">
                <!-- Start of Form -->
                <form class="job-search-form row" action="#" method="get">

                    <!-- Start of Form Title -->
                    <div class="col-md-12 form-title">
                        <h4>search job</h4>
                    </div>

                    <!-- Start of keywords input -->
                    <div class="col-md-12 search-keywords">
                        <label for="search-keywords">Keywords</label>
                        <input type="text" name="search-keywords" id="search-keywords" placeholder="Keywords">
                    </div>

                    <!-- Start of category input -->
                    <div class="col-md-12 search-categories mt15">
                        <label for="search-categories">Category</label>
                        <select name="search-categories" class="selectpicker" id="search-categories" data-live-search="true" title="Any Category" data-size="5" data-container="body">
                            <option value="1">Accountance</option>
                            <option value="2">Banking</option>
                            <option value="3">Design & Art</option>
                            <option value="4">Developement</option>
                            <option value="5">Insurance</option>
                            <option value="6">IT Engineer</option>
                            <option value="7">Healthcare</option>
                            <option value="8">Marketing</option>
                            <option value="9">Management</option>
                        </select>
                    </div>

                    <!-- Start of location input -->
                    <div class="col-md-12 search-location mt15">
                        <label for="search-location">Location</label>
                        <input type="text" name="search-location" id="search-location" placeholder="Location">
                    </div>

                    <!-- Start of submit input -->
                    <div class="col-md-12 search-submit mt15 mb30">
                        <button type="submit" class="btn btn-blue btn-effect btn-large"><i class="fa fa-search"></i>search</button>
                    </div>

                </form>
                <!-- End of Form -->
            </div>

        </div>
        <!-- End of Wrapper -->

    </section>
    <!-- ===== End of Main Search Section ===== -->

    <!-- ===== Start of Job Categories Section ===== -->
    <section class="ptb80" id="categories">
        <div class="container">

            <div class="section-title">
                <h2>job categories</h2>
            </div>

            <div class="row nomargin">
                <!-- Start of Category div -->
                {% for category in categories %}
                <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                    <div class="category ptb30">

                        <!-- Icon -->
                        <div class="category-icon">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <!-- Category Info - Title -->
                        <div class="category-info pt30">
                            <a href="#">{{ category.name }}</a>
                            <p>({{ category.count }} open positions)</p>
                        </div>

                        <!-- Category Description -->
                        <div class="category-descr">
                            <span>{{ category.description }}</span>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <!-- End of Category div -->
            </div>
        </div>
    </section>
    <!-- ===== End of Job Categories Section ===== -->

    <!-- ===== Start of Job Post Section ===== -->
    <section class="search-jobs ptb80">
        <div class="container">

            <div class="section-title">
                <h2>latest jobs</h2>
            </div>

            <!-- Start of Row -->
            <div class="row">

                <!-- Start of Job Post Main -->
                <div class="col-md-12 job-post-main">

                    <!-- Start of Job Post Wrapper -->
                    <div class="job-post-wrapper">

                        <!-- ===== Start of Single Job Post ===== -->
                        {% for job in jobs %}
                        <div class="single-job-post row nomargin">
                            <!-- Job Company -->
                            <div class="col-md-2 col-xs-3">
                                <div class="job-company">
                                    <a href="company-page-1.html">
                                        <img src="{{ job.company." alt="">
                                    </a>
                                </div>
                            </div>

                            <!-- Job Title & Info -->
                            <div class="col-md-8 col-xs-6 ptb20">
                                <div class="job-title">
                                    <a href="job-page.html">{{ job.title }}</a>
                                </div>

                                <div class="job-info">
                                    <span class="company"><i class="fa fa-building-o"></i>envato</span>
                                    <span class="location"><i class="fa fa-map-marker"></i>Melbourn, Australia</span>
                                </div>
                            </div>

                            <!-- Job Category -->
                            <div class="col-md-2 col-xs-3 ptb30">
                                <div class="job-category">
                                    <a href="javascript:void(0)" class="btn btn-green btn-small btn-effect">full time</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- ===== End of Single Job Post ===== -->

                    </div>
                    <!-- End of Job Post Wrapper -->

                </div>
                <!-- End of Job Post Main -->

            </div>
            <!-- End of Row -->

        </div>
    </section>
    <!-- ===== End of Job Post Section ===== -->
    
    <!-- ===== Start of Get Started Section ===== -->
    <section class="get-started ptb40">
        <div class="container">
            <div class="row ">

                <!-- Column -->
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <h3 class="text-white">20,000+ People trust Cariera! Be one of them today.</h3>
                </div>

                <!-- Column -->
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <a href="#" class="btn btn-blue btn-effect">get start now</a>
                </div>

            </div>
        </div>
    </section>
    <!-- ===== End of Get Started Section ===== -->


{% endblock %}