{% extends "base.html" %} 

{% block title %}{{ user.username }}{% endblock %} 

{% block content %} 

<!-- Page header -->
    <header class="page-header bg-img">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <img src="https://via.placeholder.com/100x100" alt="">
          </div>

          <div class="col-xs-12 col-sm-8 header-detail">
            <div class="hgroup">
              <h1>{{ user.username }}</h1>
            </div>
            <hr>
            <p class="lead">{{ user.applicant.about }}</p>

            <ul class="details cols-2">
              <li>
                <i class="fa fa-map-marker"></i>
                <span>{{ user.applicant.state }}</span>
              </li>

              <li>
                <i class="fa fa-phone"></i>
                <span>{{ user.applicant.phone_number }}</span>
              </li>

              <li>
                <i class="fa fa-certificate"></i>
                <span>{{ user.applicant.get_education_level_display }}</span>
              </li>

              <li>
                <i class="fa fa-birthday-cake"></i>
                <span>{{ user.applicant.date_of_birth }}</span>
              </li>

              <li>
                <i class="fa fa-user"></i>
                <span>{{ user.applicant.get_gender_display }}</span>
              </li>

              <li>
                <i class="fa fa-briefcase"></i>
                {{ user.applicant.category }}
              </li>
            </ul>
          </div>
        </div>

        <div class="button-group">

          <div class="action-buttons">
            <a class="btn btn-success" href="{{ user.applicant.cv.url }}" target="_blank">Download Resume</a>
            <a class="btn btn-primary" href="#">Edit Resume</a>
          </div>
        </div>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>

      <!-- Education -->
      <section>
        <div class="container">

          <header class="section-header">
            <span>Latest degrees</span>
            <h2>Education</h2>
          </header>
          
          <div class="row">
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <img src="assets/img/logo-mit.png" alt="">
                  <div class="hgroup">
                    <h4>Master <small>Computer Science</small></h4>
                    <h5>Massachusetts Institute of Technology</h5>
                  </div>
                  <h6 class="time">2012 - 2014</h6>
                </header>
                <div class="item-body">
                  <p>The Massachusetts Institute of Technology (MIT) is a private research university in Cambridge, Massachusetts. Founded in 1861 in response to the increasing industrialization of the United States, MIT adopted a European polytechnic university model and stressed laboratory instruction in applied science and engineering.</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <img src="assets/img/logo-berkeley.png" alt="">
                  <div class="hgroup">
                    <h4>Bachelor <small>Computer Science</small></h4>
                    <h5>University of California, Berkeley</h5>
                  </div>
                  <h6 class="time">2008 - 2012</h6>
                </header>
                <div class="item-body">
                  <p>The University of California, Berkeley is a public research university located in Berkeley, California. It is the flagship campus of the University of California system, one of three parts in the state's public higher education plan, which also includes the California State University system and the California Community Colleges System.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- END Education -->


      <!-- Work Experience -->
      <section class="bg-alt">
        <div class="container">
          <header class="section-header">
            <span>Past positions</span>
            <h2>Work Experience</h2>
          </header>
          
          <div class="row">

            <!-- Work item -->
            {% for experience in user.applicant.experiences.all %}
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <img src="https://via.placeholder.com/50x50" alt="">
                  <div class="hgroup">
                    <h4>{{ experience.company_name }}</h4>
                    <h5>{{ experience.job_title }}</h5>
                  </div>
                  <h6 class="time">{{ experience.year|date:"F, Y" }}</h6>
                </header>
                <div class="item-body">
                  <p>Task description:</p>
                  {{ experience.task_description }}
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- END Work item -->

          </div>

        </div>
      </section>
      <!-- END Work Experience -->
    </main>
    <!-- END Main container -->

{% endblock %} 
