{% extends "base.html" %} 

{% block title %}Available Jobs{% endblock %} 

{% block content %} 

<!-- Page header -->
    <header class="page-header bg-img">
      <div class="container page-name">
        <h1 class="text-center">Browse jobs</h1>
        <p class="lead text-center">We have for you below a list of verified job offers you can choose from below.</p>
      </div>
    </header>
    <!-- END Page header -->

    <!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row">

            {% for job in jobs %}
            <div class="col-xs-12">
              <a class="item-block" href="{% url 'job_detail' job.id %}">
                <header>
                  <img src="https://via.placeholder.com/50x50" alt="">
                  <div class="hgroup">
                    <h4>{{ job.title }}</h4>
                    <h5>{{ job.company.name }} <span class="label label-success">{{ job.get_job_type_display }}</span></h5>
                  </div>
                  <time datetime="2016-03-10 20:00">{{ job.created|date:"F j, Y" }}</time>
                </header>

                <div class="item-body">
                  <p>{{ job.description }}</p>
                </div>

                <footer>
                  <ul class="details cols-3">
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span>Location: {{ job.state }}</span>
                    </li>

                    <li>
                      <i class="fa fa-money"></i>
                      <span>Salary: {{ job.salary }}</span>
                    </li>

                    <li>
                      <i class="fa fa-calendar"></i>
                      <span>Deadline: {{ job.application_deadline }}</span>
                    </li>
                  </ul>
                </footer>
              </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
</main>


{% endblock %} 