{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Browse available jobs' %}{% endblock %}

{% block content %}

<section class="bg-primary">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-end">
            <img class="img-fluid w-25 d-none d-lg-block" src="{% static 'img/job-left.svg' %}" alt="job-left">
            <div class="text-white text-center">
                <h1 class="fw-bolder mt-5 mb-4">{{ jobs.paginator.count }} {% trans 'Jobs Available Now' %}</h1>
                <p class="mb-5 lead">{% trans 'We have curated below job openings by hiring companies on our platform. Use the advanced search filter to narrow down job searches.' %}</p>
            </div>
            <img class="img-fluid w-25 d-none d-lg-block" src="{% static 'img/job-right.svg' %}" alt="job-right">
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container my-5">
        <div class="row">
            <aside class="col-lg-4 d-none d-lg-block">
                <div class="card p-4 border-0 shadow">
                    <form action="" method="get">
                        
                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-list"></i> Category</label>
                            <select class="form-select">
                                <option selected>---Choose a category---</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-location-dot"></i> Location</label>
                            <select class="form-select">
                                <option selected>---Select a State---</option>
                                <option value="1">Adamawa</option>
                                <option value="2">Enugu</option>
                                <option value="3">Lagos</option>
                            </select>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-venus-mars"></i> Gender</label>
                            <select class="form-select">
                                <option selected>--Select a gender---</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        
                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-briefcase"></i> Job Type</label>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Internship</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">23</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Full-time</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">15</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Part time</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">09</span>
                            </div>
                        </div>

                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-clock-rotate-left"></i> Job Posted</label>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">All</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">213</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Last 7 days</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">115</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Last 30 days</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">19</span>
                            </div>
                        </div>
                        
                        <hr class="text-muted">

                        <div class="form-group mb-4">
                            <label for="" class="form-label fw-bold mb-3"><i class="fa-solid fa-filter-circle-dollar"></i> Salary Mode</label>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Hourly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">23</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Daily</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">15</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Weekly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">12</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Monthly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">19</span>
                            </div>
                            <div class="form-check mb-3 d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="">
                                    <label class="form-check-label" for="">Yearly</label>
                                </div>
                                <span class="px-1 text-bg-primary opacity-75 rounded-3">9</span>
                            </div>
                        </div>

                        <!-- Salary minimun and maximum range -->
                        <hr class="text-muted">

                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-filter me-1"></i> Advanced Filter</button>
                    </form>
                </div>
            </aside>
            <div class="col-lg-8">
                {% if jobs %}
                <div class="d-flex justify-content-between mb-3 border-bottom">
                    <div>
                        <p class="text-muted">Showing <span class="fw-bold">{{ jobs.start_index }}-{{ jobs.end_index }}</span> of <span class="fw-bold">{{ jobs.paginator.count }}</span> jobs</p>
                    </div>
                    <div>
                        <select class="form-select form-select-sm mb-3">
                            <option selected>Sort by: Latest Job</option>
                            <option value="1">Deadline date ascending</option>
                            <option value="2">Deadline date descending</option>
                            <option value="3">Latest Job</option>
                        </select>
                    </div>
                </div>
                <div class="row g-4">
                    {% for job in jobs %}
                    <div class="col-12 {% if forloop.last %}mb-5{% endif %}">{% include 'partials/_job_grid.html' %}</div>
                    {% endfor %}
                </div>
                {% include 'partials/_pagination.html' with page_obj=jobs %}
                {% else %} 
                <div class="d-flex justify-content-center pt-5 mt-5">
                    <img src="{% static 'img/empty.svg' %}" class="img-fluid w-25" alt="">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
