{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow border-0">
                    <div class="p-4">
                        <div class="text-center">
                            <img src="https://via.placeholder.com/150" width="150px" height="150px" alt="" class="rounded-circle">
                            <h4 class="fw-bold mb-0 mt-4">Gabriel Palmer</h4>
                            <p class="text-muted">Creative Designer</p>
                        </div>
                    </div>
                    
                    <div class="p-4">
                        <ul class="list-unstyled">
                            <li class="mb-2 p-2 bg-primary rounded">
                                <span class="text-white text-decoration-none">
                                    <i class="fa-solid fa-user mx-1"></i> My Resume
                                </span>
                            </li>
                            <li class="mb-2 p-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fa-solid fa-suitcase mx-1"></i> Manage Jobs
                                </a>
                            </li>
                            <li class="mb-2 p-2">
                                <a class="text-decoration-none" href="">
                                    <i class="fa-solid fa-cog mx-1"></i> Account Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card p-4 mb-5">
                    <div class="">
                        <h6 class="fw-bold mb-3">PERSONAL INFORMATION</h6>
                        <form action="">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="firstname" class="form-control" id="id_firstname" required value="Emmanuella">
                                        <label for="id_firstname">Firstname</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="username" class="form-control" id="id_username" required value="Abubakar">
                                        <label for="id_username">Lastname</label>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}