{% extends "base.html" %}
{% load i18n %}

{% block title %}Create new Job{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container my-3">
        <div class="row">
            {% include 'partials/_company_account_menu.html' %}
            <div class="col-lg-8">
                <div class="mb-lg-5">
                    <a href="{% url 'jobs:create' %}" class="float-end btn btn-primary"><i
                            class="fa-solid fa-briefcase me-1"></i> Post new Job</a>
                    <h6 class="text-primary">Create new Job</h6>
                    <h4>Update or Delete Job Openings</h4>
                </div>
                <div class="row g-4">
                    <form method="post" action="">
                        {% csrf_token %}

                        {% include 'partials/_form_inputs.html' with form=form %}

                        <div class="my-3">
                            <button type="submit"
                                class="btn btn-primary btn-lg rounded w-100">{% trans 'Submit Job' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
